body {
  font-family: 'OpenSansRegular';
  font-size: 14px;
  img {
    max-width: 100%;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
  }

}



*{
  padding: 0;
  margin: 0;
}
.wrap{
  position: relative;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
}
.position__arrows{
  position: relative;
  margin: 0 auto;
  max-width: 1240px;
}


.main_flex {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap
}

.main_flex__nowrap {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap
}

.flex__jcontent_between {
  justify-content: space-between;
  -webkit-justify-content: space-between
}

.flex__jcontent_start {
  justify-content: flex-start;
  -webkit-justify-content: flex-start
}

.flex__jcontent_end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end
}

.flex__jcontent_center {
  justify-content: center;
  -webkit-justify-content: center
}

.flex__jcontent_around {
  justify-content: space-around;
  -webkit-justify-content: space-around
}

.flex__auto {
  flex: auto;
  -webkit-flex: auto;
  -ms-flex: auto
}

.flex__align-items_start {
  align-items: flex-start;
  -webkit-align-items: flex-start
}

.flex__align-items_end {
  align-items: flex-end;
  -webkit-align-items: flex-end
}

.flex__align-items_baseline {
  align-items: baseline;
  -webkit-align-items: baseline
}

.flex__align-items_stretch {
  align-items: stretch;
  -webkit-align-items: stretch
}

.flex__align-items_center {
  align-items: center;
  -webkit-align-items: center
}

.flex__align-content_flex-start {
  align-content: flex-start;
  -webkit-align-content: flex-start
}

.flex__align-content_flex-end {
  align-content: flex-end;
  -webkit-align-content: flex-end
}

.flex__align-content_space-between {
  align-content: space-between;
  -webkit-align-content: space-between
}

.flex__align-content_center {
  align-content: center;
  -webkit-align-content: center
}

.flex__align-content_space-around {
  align-content: space-around;
  -webkit-align-content: space-around
}

.flex__align-content_stretch {
  align-content: stretch;
  -webkit-align-content: stretch
}