@media all and(max-width: 615px) {
  .main__box {
    padding: 20px;
  }
  .holidays__box {

    padding-left: 0px;
  }
  .second {
    padding-left: 0px;
    padding-top: 20px;
  }
  .first h2{
    text-align: center;
  }
}

@media all and (max-width: 535px) {

  .holidays__box {
    flex-wrap: wrap;
    justify-content: center;
  }
  .right__img{
    padding: 0;
  }
  .first .second{
    padding-top: 20px;
  }
}