@import "import-css";

#top__header{
  align-items: center;
  display: flex;
}
#top__header h1{
  font-size: 30px;
  font-family: 'OpenSansSemiBold', sans-serif;
  line-height: 33px;
}
.caption{
  font-family: 'OpenSansSemiBold', sans-serif;
  font-size: 30px;
  line-height: 33px;
  font-weight: 600;
  padding-bottom: 19px;

}
.menu{
  padding: 25px 0 23px 0;
  li{
    padding-left: 34px;
    a{
      font-size: 16px;
      line-height: 33px;
      color: #000;
    }
    &:first-child{
      padding-left: 0;
    }
  }
}
#phone{
  font-size: 18px;
  font-family: 'OpenSansSemiBold', sans-serif;
  i{
    font-size: 24px;
    padding-right: 9px;
  }
}

.slider__img {
  margin-bottom: 0px!important;
  .slider___item {
    width: 100%;
    height: 75vh;
    position: relative;
    img{
      width: 100%;
    }
  }
  .center__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    a{
      display: block;
    }
    h1 {
      font-size: 40px;
      line-height: 33px;
      text-align: center;
      font-family: 'OpenSansSemiBold', sans-serif;
    }
    p {
      font-size: 18px;
      line-height: 33px;
      text-align: center;
      font-family: 'OpenSansSemiBold', sans-serif;
      padding: 15px 0;
    }
    button {
      display: block;
      margin: 0 auto;
      border: none;
      background-color: #fcb51e;
      font-size: 22px;
      line-height: 33px;
      font-family: 'OpenSansSemiBold', sans-serif;
      padding: 8px 29px;
      border-radius: 35px;
      cursor: pointer;
    }
  }
  .slick-dots{
    position: absolute;
    text-align: center;
    display: block;
    width: 100%;
    transition: top 1s ease-out 1s;
    bottom: 20px;
    li{
      position: relative;
      display: inline-block;
      width: 17px;
      height: 17px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
    }
    button{
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: 1px solid black;
      color: transparent;
      background: transparent;
      outline: none;
      cursor: pointer;
      font-size: -2px;
      &:before{
        color: transparent;
      }
    }
    .slick-active  button{
      background: #fcb51e;
      border-radius: 50%;
      border: none !important;
      transition: all  .8s;
      &:before{
        color: transparent;
      }
    }
  }
  .slick-prev{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 184px;
    z-index: 20;
    background: url(../img/png/prev__arrow.png) no-repeat center;
    font-size: 0;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all .9s;
    &:hover{
     background: url("../img/png/prev__arrow__light.png")no-repeat center;
    }
  }
  .slick-next{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    right: 184px;
    z-index: 20;
    background: url(../img/png/next__arrow.png) no-repeat center;
    font-size: 0;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all .9s;
    &:hover{
      background: url("../img/png/next__arrow__light.png")no-repeat center;
    }
  }
}

.main__box {
  max-width: 1141px;
  margin: 0 auto;
  display: flex;
  padding-top: 52px;
  flex-wrap: wrap;
  justify-content: center;
  h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 33px;
    font-weight: 400;
  }
  h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 33px;
    font-weight: 600;
  }
  .box__item {
    max-width: 555px;
    width: 100%;
    h2{
      padding-bottom: 19px;
    }
  }
  p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .img_box_one{
    min-height: 180px;
  }
  .desc__box{
    cursor: pointer;
    h3{
      padding-top: 14px;
    }
  }
  .desc__text{
    padding: 11px 0 14px;
  }
  .read__more{
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 20px;
    &:after{
      content: ">";
      font-size: 13px;
    }
  }
  .holidays__box{
    display: flex;
  }
  .second{
    padding-left: 30px;
  }
  .right__img{
    padding-left: 30px;
  }
  .sempteber__ang{
    cursor: pointer;
  }
  .sempteber__ang h3{
    padding: 19px 0 7px;
  }
  .date{
    padding-top: 13px;
  }
  .p_bottom{
    padding-bottom: 45px;
  }
}
.slider {
  background-color: #e5eaf4;
  min-height: 500px;
  margin-top: 46px;
  position: relative;
  .grey {
    color: #333333;
    font-size: 16px;
    line-height: 24px;
  }
  h2 {
    padding: 42px 0 49px;
    font-family: 'OpenSansSemiBold', sans-serif;
    font-size: 30px;
    line-height: 33px;
    font-weight: 600;
  }
  .slide_box {
    margin-right: 30px;
    max-width: 360px;
  }
  .slick-dots {
    position: absolute;
    text-align: center;
    display: block;
    padding-top: 38px;
    width: 100%;
    transition: top 1s ease-out 1s;
    li {
      position: relative;
      display: inline-block;
      width: 17px;
      height: 17px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
    }
    button {
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: 1px solid black;
      color: transparent;
      background: transparent;
      outline: none;
      cursor: pointer;
    }
  }
  .slick-active  button{
    background: #fcb51e;
    border-radius: 50%;
    border: none !important;
    transition: all  .8s;
  }
  .slick-arrow{
    border: none;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    outline: none;
    cursor: pointer;
    transition: all .9s;
    &:hover{
      color: #fcb51e;
      box-shadow: 2px 2px 56px -16px rgba(0, 0, 0, 0.75);
    }
  }
  .slick-prev{
    position: absolute;
    z-index: 2;
    right: 97px;
    top: -88px;
  }
  .slick-next{
    position: absolute;
    right: 30px;
    top: -88px;
    z-index: 2;
  }
  h3 {
    color: #000;
    line-height: 33px;
    font-size:  24px;
    font-family: 'Open Sans', sans-serif;
  }
  .text__img{
    padding-top: 17px;
    text-align: center;
  }
  .text__img
  .grey{
    color: #454444;
    line-height: 24px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 4px;
  }
}
.cost_of_training{
  padding-top: 62px;
  padding-bottom: 62px;
}
.training__box{
  text-align: center;
  cursor: pointer;
  &:hover .img__training .block-front{
    opacity: 1;
    bottom: 0;
  }

  .border__class{
    border-left: 2px solid #e5eaf4;
    border-right: 2px solid #e5eaf4;
  }
.img__training {
    position: relative;
  overflow: hidden;
  .block-front{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -50px;
    left: 0;
    background: rgba(0, 0, 0,.7);
    color: #fff;
    opacity: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    display: block;
    p{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 16px;
      line-height: 24px;
      font-family: 'OpenSansSemiBold', sans-serif;
      max-width: 300px;
      width: 100%;
    }
  }
}
  h2{
    font-size:  24px;
    line-height: 33px;
    padding-top: 15px;
    padding-bottom: 3px;
  }
  .coast{
    border: 2px solid #e5eaf4;
    p{
      font-size: 16px;
      line-height: 24px;
      font-family: "OpenSansRegular", sans-serif;
      padding: 13px 0;
    }
  }
}
.tutorials{
  padding-top: 62px;
  padding-bottom: 62px;
  background-color: #e5eaf4;
  .position__arrows {
    .prev__arrows {
      background: url("../img/png/arrow__prev_tutor.png") no-repeat center;
      width: 16px;
      height: 27px;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      cursor: pointer;
      z-index: 20;
    }
    .next__arrows {
      background: url("../img/png/arrow__next_tutor.png") no-repeat center;
      width: 16px;
      height: 27px;
      display: block;
      position: absolute;
      top: 50%;
      right: 25px;
      cursor: pointer;
      z-index: 20;
    }
  }
  .item__tutor{
    max-width: 200px;
    padding-right: 28px;
  }
  .slick-prev{
    border: none;
    font-size: 0;
    position: absolute;
    z-index: 5;
    background: url("../img/png/arrow__prev_tutor.png")no-repeat center;
    width: 16px;
    height: 27px;
    top: 50%;
    left: -20px;
  }
}
.teachers{
  padding-top: 62px;
  padding-bottom: 62px;
  h2{
    padding-bottom: 50px;
  }
  .item__teach{
    cursor: pointer;
    .bg__yellow{
      padding-bottom: 2px;
      font-size: 18px;
    }
    .experience{
      margin-left: 35px;
    }
    .expert{
      color: #333333;
      font-size: 14px;
      padding-bottom: 10px;
    }
    .skills{
      font-size: 14px;
      color: #333333;
      line-height: 18px;
      max-width: 153px;
    }
  }
}
.contact{
  padding-top: 42px;
  padding-bottom: 62px;

}

.bottom__teach{
  margin-top: 80px;
}
.reviews{
  padding-top: 42px;
  padding-bottom: 70px;
  background-color: #e5eaf4;
  .slick-slide{
    display: flex!important;
  }
  .caption{
    padding-bottom: 5px;
  }
  .subtitle{
    font-size: 16px;
    color: #333333;
    strong{
      font-weight: 600;
    }
  }
  .items__reviews{
    background-color: #fff;
    max-width: 100%;
    padding: 25px 25px;
    margin-top: 45px;
  }
  .autor__reviews{
    max-width: 865px;
    margin-left: 25px;
    h2{
      font-size: 24px;
      line-height: 33px;
      font-family: 'OpenSansSemiBold';
    }
    .date{
      font-size: 14px;
      line-height: 33px;
      font-family: 'OpenSansSemiBold', sans-serif;
    }
    .desc__reviews{
      font-size: 14px;
      line-height: 20px;
      color: #333333;
    }
    .fs{
      font-size: 14px;
      color: #4267b2;
      text-decoration: underline;
      font-family: 'OpenSansSemiBold', sans-serif;
      line-height: 22px;
      padding-top: 15px;
    }
  }
  .slick-dots{
    position: absolute;
    text-align: center;
    display: block;
    width: 100%;
    transition: top 1s ease-out 1s;
    bottom: -50px;
    li{
      position: relative;
      display: inline-block;
      width: 17px;
      height: 17px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
    }
    button{
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: 1px solid black;
      color: transparent;
      background: transparent;
      outline: none;
      cursor: pointer;
      font-size: -2px;
      &:before{
        color: transparent;
      }
    }
    .slick-active  button{
      background: #fcb51e;
      border-radius: 50%;
      border: none !important;
      transition: all  .8s;
      &:before{
        color: transparent;
      }
    }
  }
  .slick-arrow{
    border: none;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    outline: none;
    cursor: pointer;
    transition: all .9s;
    &:hover{
      color: #fcb51e;
      box-shadow: 2px 2px 56px -16px rgba(0, 0, 0, 0.75);
    }
  }
  .slick-prev{
    position: absolute;
    z-index: 2;
    right: 97px;
    top: -48px;
  }
  .slick-next{
    position: absolute;
    right: 30px;
    top: -48px;
    z-index: 2;
  }
}
.adress {
padding-top: 50px;
  .location_adress {
    i {
      margin-right: 10px;
      font-size: 18px;
      color: #333333;
    }
    .gps {
      font-size: 18px;
      line-height: 23px;
    }
  }
  .phone__contacts{
    padding-top: 25px;
    i{
      margin-right: 10px;
      font-size: 18px;
      color: #333333;
    }
    .number__phone{
      font-size: 18px;
      padding-bottom: 25px;
      color: #333333;
    }
  }
  .email__adress{
    i{
      margin-right: 10px;
      font-size: 18px;
      color: #333333;
    }
    .email__text{
      font-size: 18px;
      color: #333333;
    }
  }
}
footer{
  background-color: #e5eaf4;
  p{
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    padding: 20px 0;
  }
}


.circle{
  &:after{
    content: '';
    width: 5px;
    height: 5px;
    background-color: #000;
    display: inline-block;
    border-radius: 50%;
    margin: 0 25px;
    line-height: 33px;
  }
}
.bg__yellow{
  font-size: 16px;
  line-height: 24px;
  color: #fcb51e;
  font-family: 'OpenSansSemiBold', sans-serif;
  padding-bottom: 16px;
}






@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@import "media.scss";